.container {
	display: grid;
	grid-template-areas: 
		'author date'
		'title date'
		'message message'
		'likes likes';
	grid-template-columns:
		auto 1fr;
	align-items:start;
	align-content: center;
	margin-right: auto;
    margin-left: auto;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	font-size: 14px;
}

.following {
	display: inline;
	margin-left: 5px;
	color: darkgray;
}

.author {
	display: inline;
	color: #505050;
	font-weight: bold;
}

.date {
	justify-self: end;
}