$breakpoints: (
	xs: 0px,
	sm: 480px,
	md: 700px,
	lg: 1000px,
	xl: 1400px
);

@mixin portrait {
	@media (orientation: portrait) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin down($size) {
	@media (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin up($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin between($min, $max) {
	@media (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
		@content;
	}
}

@mixin phone {
	@include down(sm) {
		@content;
	}
}

@mixin phone-large {
	@include down(md) {
		@content;
	}
}

@mixin tablet {
	@include between(md, lg) {
		@content;
	}
}

@mixin xl {
	@include up(xl) {
		@content;
	}
}

@mixin lg {
	@include between(lg, xl) {
		@content;
	}
}

@mixin md {
	@include between(md, lg) {
		@content;
	}
}

@mixin sm {
	@include between(sm, md) {
		@content;
	}
}

@mixin xs {
	@include between(xs, sm) {
		@content;
	}
}