:root {
	/* Theme based */
	--color-background: #f5f5f5;
	--color-foreground: #171717;
	--color-accent-foreground: #3f3f3f;
	--color-accent-background: #bdbdbd99;
	/* Global */
	--margin-standard: 15px
}

$breakpoints: (
	xs: 360px,
	sm: 480px,
	md: 600px,
	lg: 768px,
	xl: 1024px
);

@mixin portrait {
	@media (orientation: portrait) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin down($size) {
	@media (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin up($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin between($min, $max) {
	@media (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
		@content;
	}
}

@mixin phone {
	@include down(sm) {
		@content;
	}
}

@mixin phone-large {
	@include down(md) {
		@content;
	}
}

@mixin tablet {
	@include between(md, lg) {
		@content;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #0a0a0a;
		--color-foreground: #ededed;
		--color-accent: #e2e2e2;
	}
}

html,
body {
	max-width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

body {
	color: var(--color-foreground);
	background: var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	/* box-sizing: border-box; */
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}