
.textBox {
	border: 1px solid #d5d5d5;
	color: var(--color-accent-foreground);
	background: #f9f9f9;
	padding: 10px;
	text-align: left;
	border-radius: 25px;
	cursor: pointer;
	width: 100%;
}

.regular {
	border: 1px solid var(--color-accent-foreground);
	color: var(--color-accent-foreground);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.icon {
	display: flex;
	align-items: center;

	.button {
		border: 0px;
		background-color: inherit;
		color: var(--color-accent-foreground);
		padding: 0px;
		font-size: 14px;
		text-align: left;
		cursor: pointer;
	}
}

.loadMore {
	display: flex;
	justify-content: space-between;
	align-items: center;

	hr {
		height: 1px;
		border: 0px;
		background-color: #d5d5d5;
	}

	.leftHandle {
		flex: 1;
		padding: 20px;
	}

	button {
		color: grey;
		width: 200px;
		border: 0px;
		font-weight: bold;
	}

	.rightHandle {
		flex: 1;
		padding: 20px;
	}
}