
.textBox {
	border: 1px solid var(--color-accent-foreground);
	color: var(--color-accent-foreground);
	background: #f9f9f9;
	padding: 10px;
	text-align: left;
	border-radius: 25px;
	cursor: pointer;
	width: 100%;
}

.regular {
	border: 1px solid var(--color-accent-foreground);
	color: var(--color-accent-foreground);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.icon {
	display: flex;
	align-items: center;

	.button {
		border: 0px;
		background-color: inherit;
		color: var(--color-accent-foreground);
		padding: 0px;
		font-size: 14px;
		text-align: left;
		cursor: pointer;
	}
}

