$border-width: 1px;

.message {
	color: #505050;
	font-size: 14px;
	background: white;
	padding: 15px;
	border-radius: 5px 5px 0px 0px;
	border: 0px solid #a2a2a2
}

.container {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	border-radius: 5px;
}

.footer {
	color: rgb(67, 128, 148);
	display: flex;
	align-items: center;
	padding: 15px;
	gap: 5px;
	border-radius: 0px 0px 5px 5px;
	background: white;
}