@use "@/styles/_breakpoints.scss" as breakpoints;

$border-color: #d7d7d7;

.mainButtonContainer {
	padding: 10px;
	gap: 10px;
	display: flex;
	img {
		width: 64px;
		border-radius: 50%;
	}
}

.postOptions {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.postBox {
	background-color: white;
	border-bottom: 0px solid #d7d7d7;
	margin-bottom: 32px;
}

.postList {
	display: flex;
	flex-direction: column;
	border-left: 0px solid $border-color;
	border-right: 0px solid $border-color;
	gap: 10px
}

@include breakpoints.phone {
	@include breakpoints.portrait {
		.postList {
			border-left: 0px solid $border-color;
			border-right: 0px solid $border-color;
		}
	}
}