@use "breakpoints";

.main {
	/* Color */
	color: var(--color-accent-foreground);
	background: var(--color-accent-background);

	/* Layout*/
	nav {
		height: 3em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	a {
		margin: var(--margin-standard);
	}

	a.close_link {
		display: none;
	}

	a.home_link {
		flex: 1
	}

	main {
		height: 100vh;
	}

	@include breakpoints.phone {
		@include breakpoints.landscape {
			color: orange;
		}

		@include breakpoints.portrait {
			nav.closed {
				[data-size=medium] {
					display: none;
				}
				[data-size=small] {
					display: block;
				}
				[data-action=menu-button] {
					display: block;
				}

				div.close_link {
					display: none;
				}
			}
			nav.open {
				[data-size=small], [data-size=medium] {
					display: block;
				}
				[data-action=menu-button] {
					display: none;
				}

				position: absolute;
				top: 0px;
				flex-direction: column;
				justify-content: center;
				height: 100vh;
				width: 100%;
				padding: 300px 0px;

				div.close_link {
					display: inline;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100vw;
					z-index: 100;
					height: 48px;
					display: flex;
					align-items: center;
					justify-content: end;
	
					a {
						width: 24px;
						height: 24px;
						flex: unset;
						display: block;
					}
				}
			}

			
		}		
	}
}