.mainButtonContainer {
	padding: 10px;
	gap: 10px;
	display: flex;
	img {
		width: 48px;
		border-radius: 50%;
	}
}

.postOptions {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.container {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	border-radius: 5px;
	background-color: white;
	width: 100%;
}