.container {
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr;
}

.backgroundImageUrl {
	width: 100%;
	height: 40px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
	grid-column: 1/1;
	grid-row: 1/1;
}

.mainImageUrl {
	width: 64px;
	border-radius: 50%;
	grid-column: 1/1;
	grid-row: 1/1;
	align-self: flex-end;
	border: 4px solid white;
	translate: 0px 5px;
}

.textContainer {
	padding: 10px;
	font-size: 12px;
	hr {
		color: #f9f9f9;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

.secondaryImageUrl {
	width: 32px;
	border-radius: 50%;
	border: 4px solid rgba(179, 179, 179, 0.933);
}

.subtitle {
	margin: 4px;
}

.location {
	margin: 4px;
}

