$border-width: 0px;
$border-radius: 0px 0px 0px 0px;

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 100%;

	img {
		width: 100%;
	}

	.top {
		background: rgb(244, 244, 79);
		grid-column: 1 / 1;
		grid-row: 1 / 1;
		border-radius: $border-radius;
		height: 400px;
		border-left: $border-width solid #a2a2a2;
		border-right: $border-width solid #a2a2a2;
		object-fit: cover;
	}

	.bottom {
		background: rgb(255, 255, 255);
		color: #787878;
		grid-column: 1 / 1;
		border-radius: $border-radius;
		border-left: $border-width solid #a2a2a2;
		border-right: $border-width solid #a2a2a2;
		height: auto;
		align-self: self-end;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.subject {
			display: flex;
			align-items: end;
			color: #606060;
			padding-right: 5px;
		}

		.username {
			display: flex;
			align-items: end;
			justify-content: space-between;
			height: 30px;
			width: 100%;
			border: 0px;
			background: white;
			backdrop-filter: 1px;
			text-align: right;
			font-size: 16px;
			font-weight: bold;
			color: var(--color-accent-foreground)
		}

		.content {
			width: 100%;
			font-size: 14px;
			flex: 1;
			margin-left: 15px;
			margin-right: 15px;
		}

		.footer {
			color: gray;
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 10px;
			font-size: 14px;
		}
	}

}